
*{
	padding: 0px;
	margin:0px;
}
a{
    text-decoration: none;
    color:white;
}

.list-manage ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-manage ul li{
	width: auto;
	float: left;
}