.top-border{
    background-color: black;
    /* width: 100%; */
}
.mainpage{
    background-color:  rgb(248 248 248);
    width:100%;
}
.vertical-line{
  width: 1px;
  height: 25px;
  background-color: #999999;
  display: inline-block;
  margin-left: 200px;
  margin-top: 0px;


}
.heading-support{
  font-size: 14px;
  color: #999999;
  width: 90px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -50px;
}
 .searchbutton:hover {
    background-color: #f44336;
    color: white;
  }
  .top-nav-right{
    margin-right: 50px;
}
.top-nav-right .imgtop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.top-nav-right:hover .top-nav-bar-icon{
  background-image: url("active-in.png");
}

  .slider-detail{
    padding: 18px 35px;
    /* width:100%; */
    margin-top: -10px;
    background-color: black;
    position:  relative;
  
}
  .imagetext {
    color: #f2f2f2;
    font-size: 13px;
    padding: 0px 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.slider-indicator{
  margin-top: 20px;
  text-align: center;
}
.slider-indicator span{
  display: inline-block;
  border-radius: 50%;
  border-width: 1px;
  width: 10px;
  height: 10px;
  border: #cccccc;
  border-style: solid;
  background-color: #cccccc;
  
}
#active-slide{
  background-color: white;
  border: black;
  border-style: solid;
}
.body-title{
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}
.body-text{
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: #999999;
}

.project-head1{
  color:black;
  font-size: 20px;
  text-align: left;
}
.project-text1{
  color:#999999;
  font-size: 13px;
    margin-top: 14px;
    line-height: 21px;
}

  


.footer-bottom-wrapper{
  background-color: #cc3333;
  width: 100%;
  height: 100%;
  /* width: 1332px;
  height: 566.016; */
}

.footer-left, .footer-right-container{
  width: calc(100%/2 - 10px);
}


.footer-container{
  padding: 100px ;
}

.header-horizontal-line{
  background-color:#999999;
}
.footer-horizontal-line{
  background-color: #993333;
  height: 5px;
  width: 100%;
}

.footer-left-content{
  margin-left: 115px;
}

.col1-row1{
  margin-bottom: 30px;
}

.footer-right input, textarea{
  width: 350.124px;
  height: 15.128px;
  padding: 9px;
  border-radius: 6px;
  margin-bottom: 10px;
  
}

textarea{
  min-height: 110px;
  resize: none;
}

.footer-right button{
  border-radius: 5px;
}

.footer-mid{
  margin-right: 57px;
}

.header-horizontal-line,.body-horizontal-line,.bottom-horizontal-line1, .bottom-horizontal-line2{
  height: 1px;
  width: 100%;
}
.header-horizontal-line1,.body-horizontal-line1{
  height: 1px;
  width: 50%;
  margin-left: 400px;
}
.header-horizontal-line,.header-horizontal-line1{
background-color: #cccccc;
}
.body-horizontal-line.body-horizontal-line1{
  background-color:#cccccc;
  }
.bottom-horizontal-line1{
  background-color: #993333;
}

.bottom-horizontal-line2{
  background-color: #cc6666;
}

.bottom-container{
  font-size: 13px;
  color: #999999;
  padding: 20px 0;
  /* max-width: 960px; */
}
.about{
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}
.blog{
  color:white;
  font-size: 13px;
  margin-left: -10px;
}
.footer-left-title{
  color:white;
  margin-top: -50px;
  margin-right: -100px;
}
.list-right{
      line-height: 40px;
}
.footer-right{
  margin-right:-10px;
  margin-top: -300px;
  line-height: 30px;
  color:white;
}



